@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body { 
    margin: 0;
    padding-bottom: 3rem; 
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影を追加 */
    margin-top: -120px; /* 中央から少し上に配置 */
}

    
/*ラジオボタン 丸いのを消してボタン風に*/
input[type="radio"]{
    display:none;
}
.radio-button{
    display: inline-block;
    padding: 10px 20px;
    margin:10px;
    width: 115px;
    text-align: center;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
input[type="radio"]:checked + label.radio-button{
    background-color: #4c4c4c;
    color: #fff;
    border: none;
}


#roomID{
    border: none;
    outline: none;
    border-bottom: 2px solid#ccc;
    padding: 5px 10px;
}
#roomID:focus{
    border-bottom-color: #4c4c4c;
}

#friend > button{
    background: #4c4c4c; 
    border: none; 
    padding: 5px 20px; 
    margin: 10px; 
    font-size: 1em;
    border-radius: 5px; 
    border: 1px solid #ccc;
    outline: none; 
    color: #fff; 
}



