@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body { 
    margin: 0;
    padding-bottom: 3rem; 
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

/*ラジオボタン 丸いのを消してボタン風に*/
input[type="radio"]{
    display:none;
}
.radio-button{
    display: inline-block;
    padding: 10px 20px;
    margin:10px;
    width: 115px;
    text-align: center;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
input[type="radio"]:checked + label.radio-button{
    background-color: #4c4c4c;
    color: #fff;
    border
    : none;
}

button{
    background: #4c4c4c; 
    border: none; 
    padding: 5px 20px; 
    margin: 10px; 
    font-size: 1em;
    border-radius: 5px; 
    border: 1px solid #ccc;
    outline: none; 
    color: #fff; 
}